<mat-toolbar color="primary">
  <a mat-button routerLink="/"><span class="logo">badgey</span></a>
  <div class="spacer"></div>
  <div *ngIf="walletService.isWalletConnected;">
    <a mat-button><mat-icon aria-hidden="false" class="chevron" style="padding-right: 8px;">logout</mat-icon>{{this.walletAddr}}</a>
  </div>
 </mat-toolbar>

<div class="container">
  <div class="card center-text">
    <div *ngIf="walletService.isWalletConnected; else showLogin">
      <router-outlet></router-outlet>
    </div>
    <ng-template #showLogin>
      <h2 style="color: #996e06;">Connect your wallet to continue</h2>
      <a mat-button style="padding: 0;" (click)="connectWallet()">Connect Wallet</a>
    </ng-template>
  </div>
</div>

